# Fuzzywuzzy

In [1]:
# %pip install fuzzywuzzy
# %pip install fuzzywuzzy[speedup]
# %pip install python-Levenshtein

In [2]:
# https://www.youtube.com/watch?v=xH6XMLZvQmM&ab_channel=cctmexico

In [2]:
# from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [9]:
ok = {"México", "Argentina", "Chile", "Ecuador"}
usuario = "mexco f"
aprox = process.extractOne(usuario,ok)
print("La palabra más cercana a: ", usuario)
print(aprox) # Saca una tupla de la palabra más cercana a la correcta con % de aproximación (67%)
print("Es: ", aprox[0])
print("Con: ", aprox[1])

La palabra más cercana a:  mexco f
('México', 67)
Es:  México
Con:  67

In [14]:
import pandas as pd
df = pd.read_csv('./data/wuzy.csv')
df

                mal                  bien
0              Ags.        Aguascalientes
1   Aguascalientits       Baja California
2          CampEchE   Baja California Sur
3          Coliiima              Campeche
4            ChiaPs  Coahuila de Zaragoza
5         Chiuhahua                Colima
6            duranG               Chiapas
7        Guanajauto             Chihuahua
8               NaN      Distrito Federal
9               NaN               Durango
10              NaN            Guanajuato
11              NaN              Guerrero
12              NaN               Hidalgo

In [15]:
nombres = []
proporcion = []

def cambios(mal, bien):
    for i in mal:
        x = process.extractOne(i,bien)
        nombres.append(x[0])
        proporcion.append(x[1])
    return nombres, proporcion

mal = df['mal'].dropna().values
bien = df['bien'].dropna().values

corregido, rango = cambios(mal,bien)
df['correccion'] = pd.Series(corregido)
df['ratiom'] = pd.Series(rango)

In [16]:
df

                mal                  bien      correccion  ratiom
0              Ags.        Aguascalientes  Aguascalientes    60.0
1   Aguascalientits       Baja California  Aguascalientes    90.0
2          CampEchE   Baja California Sur        Campeche   100.0
3          Coliiima              Campeche          Colima    86.0
4            ChiaPs  Coahuila de Zaragoza         Chiapas    92.0
5         Chiuhahua                Colima       Chihuahua    89.0
6            duranG               Chiapas         Durango    92.0
7        Guanajauto             Chihuahua      Guanajuato    90.0
8               NaN      Distrito Federal             NaN     NaN
9               NaN               Durango             NaN     NaN
10              NaN            Guanajuato             NaN     NaN
11              NaN              Guerrero             NaN     NaN
12              NaN               Hidalgo             NaN     NaN

## Reciclaje de códigos

In [ ]:
# # https://github.com/seatgeek/fuzzywuzzy/issues/128
# # https://pypi.org/project/fuzzywuzzy/

# from fuzzywuzzy import fuzz, StringMatcher
# import difflib
# from fuzzywuzzy import fuzz
# from fuzzywuzzy import process

# #As long as python-Levenshtein is available, that will be used for the following:
# fuzz.ratio("ababab", "aaaaab")

# #Switch to difflib:
# fuzz.SequenceMatcher = difflib.SequenceMatcher
# fuzz.ratio("ababab", "aaaaab")

In [4]:
# fuzz.token_sort_ratio("fuzzy was a bear", "fuzzy fuzzy was a bear")
#     84
# fuzz.token_set_ratio("fuzzy was a bear", "fuzzy fuzzy was a bear")
#     100

In [5]:
# choices = ["Atlanta Falcons", "New York Jets", "New York Giants", "Dallas Cowboys"]
# process.extract("new york jets", choices, limit=2)
#     [('New York Jets', 100), ('New York Giants', 78)]
# process.extractOne("cowboys", choices)
#     ("Dallas Cowboys", 90)